<main class="mdl-layout__content mdl-color--grey-100">
  <div class="mdl-grid demo-content">
    <div class="mdl-layout__content">
        <table id="comment-list" class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp mdl-layout--fixed-tabs">
            <thead>
            <tr>
                <th {{action 'sortBy' 'nId'}}>#</th>
                <th {{action 'sortBy' 'updatedAt'}}>Date</th>
                <th {{action 'sortBy' 'author'}}>Author</th>
                <th class="mdl-data-table__cell--non-numeric">Text</th>
                <th>Vote</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {{#each sortedModel as |comment|}}
                <tr open="false" onclick="this.nextSibling.nextSibling.style.display = (this.getAttribute('open') === 'false' ? '' : 'none'); this.setAttribute('open', !JSON.parse(this.getAttribute('open')));">
                    <td>{{comment.id}}</td>
                    <td>{{comment.updatedAt}}</td>
                    <td>{{comment.author}} ({{comment.authorEmail}})</td>
                    <td class="mdl-data-table__cell--non-numeric">{{substr comment.text max=30}}</td>
                    <td>
                      <div class="material-icons mdl-badge mdl-badge--no-background mdl-badge--overlap" data-badge="{{comment.likes}}" style="color:green">thumb_up</div>
                      <div class="material-icons mdl-badge mdl-badge--no-background mdl-badge--overlap" data-badge="{{comment.dislikes}}" style="color:red">thumb_down</div>
                    </td>
                    <td>
                      <button class="mdl-button mdl-js-button mdl-button--mini-fab mdl-button--colored mdl-js-ripple-effect"
                      {{action 'openModal' 'modalremove' comment 'Are you sure ?'}}>
                        <i class="material-icons">delete</i>
                      </button>
                    </td>
                </tr>
                <tr style="display:none;">
                    <td colspan="7">
                      <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--3-col">{{comment.updatedAt}}</div>
                        <div class="mdl-cell mdl-cell--1-col">{{comment.author}}</div>
                        <div class="mdl-cell mdl-cell--1-col">{{comment.authorEmail}}</div>
                        <div class="mdl-cell mdl-cell--1-col">{{comment.authorWebsite}}</div>
                        <div class="mdl-cell mdl-cell--1-col">{{comment.ip}}</div>
                        <div class="mdl-cell mdl-cell--5-col">{{comment.post.uri}}</div>
                      </div>
                      <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--12-col">{{substr comment.text}}</div>
                      </div>
                      <div class="mdl-grid">
                        <button class="mdl-button mdl-js-button mdl-button--mini-fab mdl-button--colored mdl-js-ripple-effect"
                          {{action 'openModal' 'modalreply'}}>
                          <i class="material-icons">reply</i>
                        </button>
                        <a href="http://hoa-project.net{{comment.post.uri}}#isso-15" target="_blank" class="mdl-button mdl-js-button mdl-button--mini-fab mdl-button--colored"  style="padding: 0">
                          <i class="material-icons">open_in_browser</i>
                        </a>
                        <a href="#" class="mdl-button mdl-js-button mdl-button--mini-fab mdl-button--colored"  style="padding: 0">
                          <i class="material-icons">help</i>
                        </a>
                      </div>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
    </div>
</main>
